= render 'web/shared/weekday_fields', weekday: resource,
                                      update_url: admin_group_weekday_path(parent, resource),
                                      back_url: admin_group_weekdays_path(parent)
