= render 'web/shared/weekday_fields', weekday: resource,
                                      update_url: personal_weekday_path(resource),
                                      back_url: personal_schedule_index_path
