body.theme-dark {

  $darkest-color: hsl(0, 0%, 7%);
  $dark-color: hsl(0, 0%, 15%);
  $neutral-color: #202020;
  $light-color: rgba(100, 100, 100, 0.2);

  $accent-color: #DA5542;
  $active-accent-color: #DA3243;

  background-color: $darkest-color;

  .navbar {
    background-color: $dark-color !important;
    color: white !important;
  }

  .card {
    background-color: $dark-color;
    color: white !important;

    .card-header, .list-group-item:hover {
      background-color: $dark-color;
    }

    .list-group-item {
      background-color: $neutral-color;
      color: white;
    }
  }

  .btn {
    color: white;
    border-color: $accent-color;

    &:active, &:focus {
      background-color: $accent-color !important;
      border-color: $accent-color !important;

      outline: none !important;
      box-shadow: none !important;
    }
  }

  .dropdown-toggle {
    background-color: $light-color;
    border-color: $light-color;
  }

  .dropdown-menu {
    background-color: $neutral-color;
  }

  .dropdown-item {
    &.selected {
      background-color: $accent-color;
      color: white;
    }

    &:hover {
      &:not(.selected) {
        background-color: $light-color !important;
      }
    }
  }

  .btn-primary {
    background-color: $accent-color;
  }

  .btn-outline-primary {
    color: $accent-color;
    font-weight: 500;

    &:hover {
      background-color: $accent-color;
      color: white;
    }
  }

  .form-control {
    background-color: $light-color;
    color: white;
    border: none;
  }

  hr {
    background-color: $light-color;
  }

  a {
    color: $accent-color;

    &:hover {
      color: $active-accent-color;
    }
  }

  .nav-fill {
    .nav-link.active {
      background-color: $accent-color;
    }
  }

  .badge-primary {
    background-color: $accent-color;
  }

}

