#devise {

  .card {
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
  }

  h2 {
    margin: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

  p, a.redirect {
    text-align: center;
    font-size: 14px;
    color: gray;
  }

  p.alert {
    color: red;
  }

  .text-center {
    margin-bottom: 7px;
  }

}
